.alt-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    padding-bottom: 25px;
    padding-top: 55px;
    position: fixed;
    left: 0; right: 0;
    background-color: inherit;
    z-index: 1;
}

.alt-header__title{
    font-size: 25px;
    font-weight: 700;
}

.alt-header__column:first-child{
    margin-right: auto;
}

.alt-header__column:last-child{
    margin-left: auto;
}

.alt-header__column:first-child i{
    font-size: 25px;
}

.alt-header__column:last-child i{
    font-size: 23px;
}

.alt-header__column:last-child span{
    position: absolute;
    right: 60px;
}
