.status-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 35px;
    padding-top: 10px;
    margin-bottom: 30px;
    color: #757575;
    background-color: #fff;
    position: fixed;
    left: 0; right: 0;
    z-index: 2;
}

.status-bar__time{
    font-size: 15px;
    font-weight: 400;
    width: 20%;
}

.status-bar__icons{
    display: flex;
}

.status-bar__icons i{
    margin-left: 4px;
    font-size: 13px;
}